arcade==2.6.17
attrs==24.2.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
idna==3.10
Pillow==9.3.0
praw==7.8.1
prawcore==2.4.0
pycparser==2.22
pyglet==2.0.dev23
pymunk==6.4.0
PyOpenGL==3.1.7
pytiled-parser==2.2.0
requests==2.32.3
typing_extensions==4.12.2
update-checker==0.18.0
urllib3==2.2.3

